<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Delete MotorBike</title>
</head>
<body>
<h1>Delete MotorBike</h1>
<h2>Are you sure?</h2>
<p>
    <a href="/">Post</a>
</p>
<form th:action="@{/delete-motorbike}" th:object="${motorbike}" method="post">
    <input th:type="hidden" name="id" th:field="*{id}">
    <table>
        <tr>
            <td>First name:</td>
            <td th:text="${motorbike.name}"></td>
        </tr>
        <tr>
            <td>Last name:</td>
            <td th:text="${motorbike.description}"></td>
        </tr>
        <tr>
            <td></td>
            <td><input type="submit" value="Delete MotorBike"></td>
        </tr>
    </table>
</form>
</body>
</html>